.header {
  position: relative;
  background-color: #fff;
  padding: 84px 0px 126px 0px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 67%;
    height: 100%;
    background-color: #faf9f8;
    z-index: 0;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 170px 0 190px;
    box-sizing: border-box;
    z-index: 1;

    @media (max-width: 1367px) {
      padding: 0 99px;
    }

    @media (max-width: 993px) {
      padding: 0 36px;
    }

    @media (max-width: 500px) {
      padding: 0 10px;
    }

    @media (max-width: 376px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px 0 32px;
    }
  }

  &__title {
    font-family: "Crimson Text", serif;
    font-weight: normal;
    font-size: 36px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    white-space: nowrap;
    -webkit-text-stroke: 2px #000000;

    @media (max-width: 1367px) {
      font-size: 16px;
      text-shadow: none;
      -webkit-text-stroke: 0;
      margin-right: 20vw;
    }

    @media (max-width: 992px) {
      margin-right: 4vw;
      font-size: 12px;
    }

    @media (max-width: 500px) {
      font-size: 10px;
    }

    @media (max-width: 376px) {
      margin-right: 0px;
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    max-width: 861px;
    align-items: start;

    @media (max-width: 1367px) {
      max-width: none;
    }
    @media (max-width: 376px) {
      display: none;
    }

    @media (max-width: 992px) {
      justify-content: flex-end;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 1367px) {
      justify-content: space-around;
    }

    @media (max-width: 992px) {
      max-width: 406px;
    }
  }

  &__burger {
    display: none;
    position: relative;
    z-index: 10;

    @media (max-width: 376px) {
      display: block;
      width: 63px;
      height: 47px;
    }
  }

  &__item {
    flex-grow: 1;
    min-width: 120px;
    text-align: center;

    @media (max-width: 1367px) {
      min-width: 75px;
    }

    @media (max-width: 992px) {
      min-width: 0;
      display: flex;
      justify-content: space-around;
    }
  }

  &__link {
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: normal;
    font-size: 32px;
    color: #000000;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 1367px) {
      font-size: 16px;
    }

    @media (max-width: 992px) {
      font-size: 10px;
    }
  }

  @media (max-width: 1367px) {
    padding: 73px 0px 88px 0px;
    background-color: #faf9f8;
  }

  @media (max-width: 993px) {
    padding: 46px 0px 93px 0px;
  }

  @media (max-width: 376px) {
    padding: 16px 0px 35px 0px;
  }
}
