@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400&display=swap");

.organic-fashion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 284px;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 67%;
    height: 31%;
    background-color: #faf9f8;
    z-index: 0;
  }

  .image-container {
    flex: 0 0 auto;
    margin-right: 68px;
    padding-left: 154px;
    z-index: 1;

    img {
      width: 578px;
      height: 596px;
      object-fit: cover;

      @media (max-width: 1366px) {
        width: 410px;
        height: 422px;
      }

      @media (max-width: 992px) {
        width: 320px;
        height: 330px;
      }
    }
    @media (max-width: 1366px) {
      width: 410px;
      height: 422px;
      padding-left: 154px;
    }
    @media (max-width: 992px) {
      width: auto;
      height: auto;
      padding-left: 50px;
      margin-right: 27px;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1120px;
    padding-right: 173px;
    position: relative;
    z-index: 1;

    .heading {
      font-family: "Crimson Text", serif;
      font-weight: normal;
      white-space: nowrap;
      font-size: 90px;
      letter-spacing: 13.5px;
      margin-bottom: 20px;

      @media (max-width: 1366px) {
        font-size: 48px;
        letter-spacing: 7.2px;
      }
    }

    .description {
      font-family: "Crimson Text", serif;
      font-weight: normal;
      font-size: 36px;
      width: 868px;
      margin-bottom: 30px;

      @media (max-width: 1366px) {
        font-size: 20px;
        width: 535px;
      }

      @media (max-width: 992px) {
        width: 418px;
      }

      @media (max-width: 375px) {
        font-size: 14px;
        width: 166px;
      }
    }

    .shop-now-button {
      background-color: #8e9a82;
      color: white;
      font-size: 20px;
      width: 291.1px;
      height: 77.72px;
      border: none;
      border-radius: 59px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #7b8a6d;
      }

      @media (max-width: 1366px) {
        width: 206px;
        height: 55px;
      }

      @media (max-width: 992px) {
        width: 227px;
        height: 43px;
      }

      @media (max-width: 375px) {
        width: 131px;
        height: 31px;
        font-size: 13px;
        letter-spacing: 2px; /* 15% от 13px */
      }
    }
    @media (max-width: 992px) {
      padding-right: 0px;
    }

    @media (max-width: 375px) {
      font-size: 32px;
      letter-spacing: 4.8px; /* 15% от 32px */
      margin-bottom: 17px;
      text-align: center;
    }
  }
  @media (max-width: 1366px) {
    background-color: #faf9f8;
    padding-bottom: 144px;
  }

  @media (max-width: 992px) {
    padding-bottom: 101px;
    padding-right: 53px;
  }

  @media (max-width: 375px) {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: right;
    }
  }
}
