@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400&display=swap");

.organic-fashion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 284px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 67%;
    height: 31%;
    background-color: #faf9f8;
    z-index: 0;
  }

  .image-container {
    flex: 0 0 auto;
    margin-right: 68px;
    padding-left: 154px;
    z-index: 1;

    img {
      width: 31vw;
      height: 596px;
      object-fit: cover;

      @media (max-width: 1367px) {
        height: 422px;
      }

      @media (max-width: 993px) {
        width: 32vw;
        height: 330px;
      }

      @media (max-width: 376px) {
        width: 175px;
        height: 282px;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 56px;
        right: 16px;
      }
    }
    @media (max-width: 1367px) {
      height: 422px;
      padding-left: 154px;
    }
    @media (max-width: 993px) {
      width: auto;
      height: auto;
      padding-left: 50px;
      margin-right: 27px;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1120px;
    padding-right: 170px;
    position: relative;
    z-index: 1;

    .heading {
      font-family: "Crimson Text", serif;
      font-weight: normal;
      font-size: 88px;
      letter-spacing: 11.05px;
      margin-bottom: 20px;

      @media (max-width: 1367px) {
        font-size: 48px;
        letter-spacing: 7.2px;
      }

      @media (max-width: 993px) {
        font-size: 30px;
      }

      @media (max-width: 376px) {
        font-size: 32px;
        letter-spacing: 4px;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    .description {
      font-family: "Crimson Text", serif;
      font-weight: normal;
      font-size: 36px;
      width: 39vw;
      margin-bottom: 30px;

      @media (max-width: 1367px) {
        font-size: 20px;
        max-width: 535px;
      }

      @media (max-width: 993px) {
        width: 45vw;
      }

      @media (max-width: 376px) {
        font-size: 14px;
        max-width: 166px;
        margin-bottom: 15px;
        letter-spacing: 0;
        text-align: left;
      }
    }

    .shop-now-button {
      background-color: #8e9a82;
      color: white;
      font-size: 20px;
      width: 291.1px;
      height: 77.72px;
      border: none;
      border-radius: 59px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #7b8a6d;
      }

      @media (max-width: 1367px) {
        width: 206px;
        height: 55px;
      }

      @media (max-width: 993px) {
        width: 227px;
        height: 43px;
      }

      @media (max-width: 500px) {
        width: 180px;
      }

      @media (max-width: 376px) {
        width: 131px;
        height: 31px;
        font-size: 13px;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
    }
    @media (max-width: 993px) {
      padding-right: 0px;
    }

    @media (max-width: 376px) {
      font-size: 32px;
      margin-bottom: 17px;
      padding-right: 0px;
      margin: 0 13px;
      text-align: center;
    }
  }
  @media (max-width: 1367px) {
    background-color: #faf9f8;
    padding-bottom: 144px;
  }

  @media (max-width: 993px) {
    padding-bottom: 101px;
    padding-right: 53px;
  }

  @media (max-width: 376px) {
    flex-direction: column-reverse;
    width: 100%;
    margin-right: 0;
    padding-right: 0px;
    padding-left: 0;
    justify-content: center;
    text-align: center;

    .text-container {
      padding-right: 0;
    }

    .image-container {
      margin-right: 0;
      padding-left: 0;
    }
  }
}
