.shop-categories {
  background-color: #fff;
  .shop-title {
    font-family: "Crimson Text", serif;
    font-weight: normal;
    font-size: 48px;
    letter-spacing: 7.2px;
    text-align: center;
    margin-bottom: 42px;

    @media (max-width: 1367px) {
      margin-bottom: 88px;
      font-size: 32px;
      letter-spacing: 4.8px;
    }

    @media (max-width: 993px) {
      margin: 0 auto;
      margin-bottom: 29px;
      max-width: 312px;
    }

    @media (max-width: 376px) {
      font-size: 20px;
      max-width: 333px;
      margin-top: 19px;
      margin-bottom: 25px;
      letter-spacing: 3px;
    }
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    img {
      height: 528px;
      overflow: hidden;

      @media (max-width: 1367px) {
        height: 390px;
      }

      @media (max-width: 993px) {
        height: 275px;
      }
      @media (max-width: 376px) {
        height: 136px;
        object-fit: cover;
      }
    }

    .image-1 {
      width: 409.5px;

      @media (max-width: 1367px) {
        width: 290px;
      }

      @media (max-width: 993px) {
        width: 213px;
      }

      @media (max-width: 376px) {
        width: 44px;
      }
    }

    .image-2,
    .image-3 {
      width: 517.5px;

      @media (max-width: 1367px) {
        width: 368px;
      }
      @media (max-width: 993px) {
        width: 269px;
      }
      @media (max-width: 376px) {
        width: 133px;
      }
    }

    .image-4 {
      width: 406.5px;

      @media (max-width: 1367px) {
        width: 290px;
      }

      @media (max-width: 993px) {
        width: 211px;
      }
      @media (max-width: 376px) {
        width: 44px;
      }
    }

    @media (max-width: 1367px) {
      margin-bottom: 13px;
    }

    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  .long-image {
    width: 100vw;
    display: block;

    @media (max-width: 1367px) {
      height: 263px;
    }
    @media (max-width: 993px) {
      height: 185px;
    }

    @media (max-width: 376px) {
      height: 89px;
      object-fit: cover;
    }
  }

  @media (max-width: 1367px) {
    letter-spacing: 4.8px;
    padding-top: 60px;
  }

  @media (max-width: 376px) {
    padding-top: 0;
  }
}
