.about-us-wrapper {
  .about-us {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 130px;

    @media (max-width: 1366px) {
      padding-bottom: 128px;
    }
    @media (max-width: 992px) {
      padding-bottom: 45px;
    }

    @media (max-width: 375px) {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 1366px) {
    padding-top: 107px;
  }
  @media (max-width: 992px) {
    padding-top: 68px;
    background-color: #faf9f8;
    height: auto;
  }
}

.about-us__image {
  width: 473.51px;
  height: 938.02px;
  margin-left: 63px;
  margin-right: 140px;

  @media (max-width: 1366px) {
    width: 316px;
    height: 626px;
    margin-left: 92px;
    margin-right: 94px;
  }

  @media (max-width: 992px) {
    width: 252px;
    height: 508px;
    margin-left: 58px;
    margin-right: 40px;
  }
}

.about-us__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 859px;
  max-width: 1085px;
  margin-right: 155px;

  @media (max-width: 1366px) {
    height: 472px;
    margin-right: 140px;
  }

  @media (max-width: 992px) {
    max-width: 561px;
    height: 510px;
    margin-right: 90px;
  }
}

.about-us__title {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 7.2px;

  @media (max-width: 1366px) {
    font-size: 32px;
    letter-spacing: 4.8px;
  }

  @media (max-width: 375px) {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

.about-us__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 570px;
  font-family: "Crimson Text", serif;
  font-size: 36px;

  @media (max-width: 1366px) {
    font-size: 20px;
    height: 276px;
  }

  @media (max-width: 992px) {
    height: 350px;
  }
}

.about-us__button {
  width: 350px;
  height: 88px;
  font-size: 36px;
  letter-spacing: 5.4px;
  color: black;
  border: 5px solid #8e9a82;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;

  @media (max-width: 1366px) {
    width: 205px;
    height: 59px;
    font-size: 20px;
    letter-spacing: 3px;
  }

  @media (max-width: 1366px) {
    width: 201px;
    height: 46px;
  }
}
